*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family:Proxima Nova,Arial,sans-serif;
}
html{
  scroll-behavior: smooth;
}

img,
svg,
picture {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

i {
  font-family: FontAwesome;
  font-style: normal;
}

/* =============GENERAL=========== CSS */

.grid-row {
  display: grid;
  cursor: pointer;
}

.flex-row {
  display: flex;
}

.cta-hover {
  display: flex;
  margin-top: 1rem;
}

.cta-hover a {
  border-radius: 2rem;
  cursor: pointer;
  outline: 2px solid transparent;
  padding: 0.8rem 5rem;
  font-size: 15px;
  transition-duration: 0.5s;
  background: #212121;
  color: #ffff;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 21rem;
}

.cta a {
  border-radius: 2rem;
  cursor: pointer;
  outline: 2px solid transparent;
  padding: 0.8rem 3rem;
  font-size: 15px;
  transition-duration: 0.5s;
  background: #212121;
  color: #ffff;
  text-decoration: none;
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =============/GENERAL=========== CSS */

/* HEADER CSS*/
.header-container {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.black-container {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  background: #000000;
  color: #ffff;
  gap: 3rem;
}
.header-container .header-flex {
  display: flex;
  padding: 0.5rem 2rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.l-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.r-nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.header-container nav ul {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.header-container nav li a {
  text-transform: uppercase;
    font-size: 0.76rem;
    letter-spacing: 0.25px;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    font-weight: 900;
    color: gray;
}
.header-container nav>ul>li:first-child>a{
  color: black;
}

.header-container .logo img {
  width: 14.5rem;
}

.header-container .search-bar input {
  width: 23rem;
  height: 2.3125rem;
  padding: 0.5rem 3.815rem;
  border-radius: 37px;
  border: none;
  background: #efefef;
  font-size: 1rem;
  border: 2px solid #efefef;
  letter-spacing: .2px;
}
.search-bar {
  position: relative;
}

.search-bar::before {
  content: "\f002";
  font-family: FontAwesome;
  cursor: pointer;
  position: absolute;
  top: 33%;
  left: 5%;
}
.search-bar::after {
  content: "\e0da";
  font-family: FontAwesome;
  cursor: pointer;
  position: absolute;
  top: 33%;
  right: 5%;
}

.header-container .header-icons {
  display: flex;
  align-items: center;
}

.header-container .header-icons i {
  font-size: 16px;
  border-radius: 100%;
  padding: 1rem;
  background-color: transparent;
  transition: background-color .4s cubic-bezier(.645,.045,.355,1);
}
.header-container .header-icons>i:nth-of-type(1){
  display: none;
}
.header-container .header-icons>i:nth-of-type(6){
  display: none;
}

.header-container .header-icons i:hover{
background-color: #efefef;
}
.header-container .header-icons span {
  font-size: 16px;
  border-radius: 100%;
  padding: 1rem;
  background-color: transparent;
  transition: background-color .4s cubic-bezier(.645,.045,.355,1);
}
.header-container .header-icons span:hover{
background-color: #efefef;
}

.header-container .li-menu {
  padding: 0 1.5rem;
}

.header-container .li-menu ul {
  display: flex;
}

.header-container .li-menu li a {
  color: #000000;
  font-size: 0.76rem;
  font-weight: 600;
  padding: 0.75rem 0.8rem;
  white-space: nowrap;
  opacity: 0.9;
}
/* HEADER CSS */

/* styling side-navigation bar */
.side-nav {
  position: sticky;
  width: 15%;
  top:0%;
  min-height:100vh;
  float: left;
}
.wrapper {
  position: absolute;
  overflow: hidden scroll;
  padding: 0rem 1.5rem;
  padding-bottom: 7rem;
  width: 100%;
  height: 100%;
}
.heading {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1rem 2rem;
}
.women {
  display: flex;
}
.women h6 > span {
  padding: 0rem 1rem;
  opacity: 0.3;
}
.women h6 {
  font-size:0.6875rem;
  color: #4d4d4d;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 0.815rem;
  padding-bottom: 2rem;
}
.categories #no-of-items{
    padding: 0.75rem 0.8rem;
    font-size: 0.815rem;
    padding-bottom: 0rem;
}
.categories .column {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  transition: background-color .2s ease-out;
  cursor: pointer;
  background-color: transparent;
  padding: 0.75rem 0.8rem;
}
.categories .column:hover{
    background-color: #f8f8f8;
}
.categories .column>span{
  font-weight: bold;
}
.categories .column>i{
  font-weight: light;
  color: gray;
}
/* for sizes */
.categories #size #down {
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.categories #size.active #down {
  transform: rotate(180deg);
}
.size-menu {
  grid-template-columns: repeat(2, 1fr);
  gap: 0.815rem;
  padding: 0rem 1rem;
  display: none;
  font-size: 0.8125rem;
}
.size-menu.active {
  display: grid;
}

.size-menu .sizes {
    border-radius: 5px;
    text-align: center;
    width: 6rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e6e6e6;
    transition: border .2s ease-out;
}
.size-menu .sizes:hover{
    border: 1px solid black;
}

.menus {
  gap: 2rem;
  display: flex;
}
/* for sizes */

/* for colors */
.color-menu {
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  display: none;
}
.color-menu .colors>span:last-child{
    white-space: nowrap;
    font-size: 0.8125rem;
}

.color-menu.active {
  display: grid;
}
.color-menu .colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.color-menu .colors > span:first-child {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}

.categories .column>span{
    font-size: 0.9375rem;
}
.categories #color #down {
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.categories #color.active #down {
  transform: rotate(180deg);
}
/* for colors */

/* for checkbox */
.checkBox {
  margin: 0.815rem 0rem;
  display: none;
}
.checkBox.active {
  display: block;
}
.categories #length #down {
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.categories #length.active #down {
  transform: rotate(180deg);
}
.main {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;
  font-size: 0.8125rem;
  letter-spacing: .25px;
}

input[type="checkbox"] {
  visibility: hidden;
}

.blackmark {
  position: absolute;
  top: 0;
  left: 11px;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid silver;
  border-radius: 3px;
}

.blackmark::after {
  content: "";
  position: absolute;
  left: 7px;
  bottom: 5px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
}

.main input:checked ~ .blackmark::after {
  display: block;
}
.main input:checked ~ .blackmark {
  background-color: black;
}
/* //for checkbox */

/* for sleeve */
.checkBox2 {
  margin: 0.815rem 0rem;
  display: none;
}
.checkBox2.active {
  display: block;
}
.categories #sleeve #down {
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.categories #sleeve.active #down {
  transform: rotate(180deg);
}
/* for sleeve */

/* for fabric */
.checkBox3 {
  margin: 0.815rem 0rem;
  display: none;
}
.checkBox3.active {
  display: block;
}
.categories #fabric #down {
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.categories #fabric.active #down {
  transform: rotate(180deg);
}
/* for fabric */

/* for detail */
.checkBox4 {
  margin: 0.815rem 0rem;
  display: none;
}
.checkBox4.active {
  display: block;
}
.categories #detail #down {
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.categories #detail.active #down {
  transform: rotate(180deg);
}
/* for detail */

/* for price */
.checkBox5 {
  margin: 0.815rem 0rem;
  display: none;
}
.checkBox5.active {
  display: block;
}
.categories #price #down {
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.categories #price.active #down {
  transform: rotate(180deg);
}
/* for price */

/* //styling side-navigation bar */

/*  SECTION-ONE CSS */

.section-one {
  height: auto;
  margin-top: 2rem;
  width: 100%;
}

.section-one .container {
 padding: 2rem;
}

.section-one .grid-row {
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.section-one .grid-row .column:nth-of-type(n) {
  margin-bottom: 0.5rem;
}

.section-one .column .flex-row {
  justify-content: space-between;
  margin-top: 0.5rem;
}

.section-one .column .content-flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section-one .content-flex-column span:nth-of-type(1) {
  font-size: 11px;
  color: #272727;
}

.section-one .content-flex-column span:nth-of-type(2) {
  font-size: 17px;
  color: #000000;
  font-weight: bold;
}

.section-one .content-flex-column span:nth-of-type(3) {
  font-size: 11px;
  color: #9d2226;
}

.section-one .image-container {
  position: relative;
}

.section-one .cta-hover {
  position: absolute;
  bottom: 10%;
  left: 6%;
  display: none;
  transform: translate(0%,50%);
  width: 21rem;
}

.section-one .column:hover .cta-hover {
  display: block;
}

.section-one .select-size {
  background: #ffff;
  border-radius: 0.5rem;
  position: absolute;
  padding: 1rem 0.7rem;
  bottom: 0%;
  left: 3%;
  display: none;
}

.section-one .grid-row .image-container::after {
  content: "New!";
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffff;
  color: #000000;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  font-size: 11px;
  font-family: sans-serif;
}

.section-one .select-size.active {
  display: block;
  bottom: 3%;
  left: 3%;
}

.section-one .select-size .flex-column {
  gap: 1rem;
  flex-direction: column;
  display: flex;
}

.section-one .select-size .heading-flex {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.section-one .select-size .flex {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  flex-wrap: wrap;
  gap: 1rem;
  
}

.section-one .select-size .flex .size {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.805);
}

.section-one .select-size .flex .size:hover {
  border: 1px solid black;
}

/*  /SECTION-ONE CSS */

/* SECTION-TWO CSS */
.section-two {
  /* padding:1rem 5rem; */
  width: 100%;
  height: auto;
}

/* .section-two .container {
  margin-left: 18rem;
  margin-right: 2rem;
} */

.section-two{
  padding:   0 3rem;
}

.section-two .column .flex-row {
  justify-content: space-between;
  margin-top: 0.5rem;
}

.section-two .column .content-flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section-two .content-flex-column span:nth-of-type(1) {
  font-size: 11px;
  color: #272727;
}

.section-two .content-flex-column span:nth-of-type(2) {
  font-size: 17px;
  color: #000000;
  font-weight: bold;
}

.section-two .content-flex-column span:nth-of-type(3) {
  font-size: 11px;
  color: #9d2226;
}

.section-two .image-container {
  position: relative;
}

.section-two .cta-hover {
  position: absolute;
  bottom: 10%;
  left: 14%;
  display: none;
}

.section-two .column:hover .cta-hover {
  display: block;
}

.section-two .select-size {
  background: #ffff;
  border-radius: 0.5rem;
  position: absolute;
  padding: 1rem;
  bottom: 5%;
  left: 9%;
  right: 9%;
  display: none;
}

.section-two .grid-row .image-container::after {
  content: "New!";
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffff;
  color: #000000;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  font-size: 11px;
  font-family: sans-serif;
}

.section-two .select-size.active {
  display: block;
}

.section-two .select-size .flex-column {
  gap: 1rem;
  flex-direction: column;
  display: flex;
}

.section-two .select-size .heading-flex {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.section-two .select-size .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.section-two .select-size .flex .size {
  width: 50px;
  height: 40px;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.805);
}

.section-two .select-size .flex .size:hover {
  border: 1px solid black;
}

.section-two .flex-column h1 {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
}

.section-two .flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* /SECTION-TWO CSS */

.to-top {
  position: fixed;
  z-index: 1000;
  top: 88%;
  left: 97.5%;
  opacity: 0;
  height: 35px;
  width: 35px;
  pointer-events: none;
  transition: all 0.4s;
}

.top {
  background-color: rgb(53, 52, 52);
  opacity: 0.9;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-top.active {
  pointer-events: auto;
  opacity: 1;
}

.top > i {
  font-size: 0.9rem;
  color: white;
  font-family: FontAwesome;
}

/* //back to top button */





/* ,---------------FOOTER */
.footer{
  position: relative;
  background-color: #000000;
  color: aliceblue;
}
.footer h3{
  font-size: 12px;
  margin-bottom: 0.7rem ;
}
.footetr a{
  font-size: 13px;
}
.footer p{
  font-size: .7rem;
  margin: 16px 0;
}
.footer .flex-row{
  display: flex;
  justify-content: space-between;
}
.footer .f-container{
  margin-inline: auto;
max-width: 1560px;
padding: 2.5rem  3.75rem 0 3.75rem;
}
.footer ul {
  list-style: none;
}
.footer ul li a{
  text-decoration: none;
  color: gainsboro;
}
.footer .fleft{
  display: flex;
  min-height: 15.5rem;
}
.footer .appicons{
  display: flex;
  gap: 1rem;
}
.footer .applinks{
  width: 335px;
}
.footer .accordian .acc-gap {
  margin-top: 0;
  font-size: 13px;
display: flex; 
gap: 1rem;
flex-direction: column;
}
.footer .accordian{
  max-width: 480px;
  margin-right: 2rem;
  display: flex;
  gap: 1rem;
}

.footer .icons ul{
display: flex;
padding: 0;
gap: 2rem;
}
.footer .icons ul li a{
  font-size: 1.3rem;
}
.footer input{
  padding: 0 1rem;
  width: 26.625rem;
  height: 3.75rem;
  border-radius: 5px;
  border: none;
}
.footer .copyright{
  font-size: 11px;
  border-top: .5px solid gainsboro;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}
.footer .copyright .flink{
  margin-left: 16px;
  font-size: .7rem;
}

/* ACCORDION */
.footer .accordion{
width: 100%;
  display: none;

}
.footer .accordion .contentBox{
position: relative;
margin-bottom: 2rem;
  width: 100%;
}
.footer .accordion .contentBox .label{
position: relative;
cursor: pointer;
}
.footer .accordion .contentBox .label::before{
  content: "+";
  font-size: 20px;
  position: absolute;
  top: 20%;
  right: 10px;
  transform: translateY(-50%);
}
.footer .accordion .contentBox.active .label::before{
  content: "-";
  top: 1%;
  font-size: 2rem;
}
.footer .accordion .contentBox .content{
  position: relative;
  padding: 10px;
  display: none;
  overflow: hidden;
  transition: 0.2s;
  overflow-y: auto;

}
.footer .accordion .contentBox.active .content{
  display: block;
  height: 100%;
  padding: 1rem;
}
.footer .accordion .contentBox .content ul li{
  margin-bottom: 1rem;
}
.footer .contentBox{
  width: 330px; 
}
.footer .contentBox ul{
  padding:0;
}
.footer hr{
border: none;
  background-color: gainsboro;
  height: .08px;
  margin-top: 1rem;
}
.footer .none {
  display: none;
}
/* ,---------------/FOOTER */
