*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family:Proxima Nova,Arial,sans-serif;
}
html{
  scroll-behavior: smooth;
}

img,
svg,
picture {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

i {
  font-family: FontAwesome;
  font-style: normal;
}

/* =============GENERAL=========== CSS */

.grid-row {
  display: grid;
  cursor: pointer;
}

.flex-row {
  display: flex;
}

.cta-hover {
  display: flex;
  margin-top: 1rem;
}

.cta-hover , .cta{
  border-radius: 2rem;
  cursor: pointer;
  outline: 2px solid transparent;
  padding: 0.8rem 5rem;
  font-size: 15px;
  transition-duration: 0.5s;
  background: #212121;
  color: #ffff;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}


/* =============/GENERAL=========== CSS */
/* HEADER CSS*/
.header-container {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.black-container {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  background: #000000;
  color: #ffff;
  gap: 3rem;
}
.header-container .header-flex {

  background-color: #fff;
  display: flex;
  padding: 0.5rem 2rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.l-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.r-nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.header-container nav ul {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.header-container nav li a {
  text-transform: uppercase;
    font-size: 0.76rem;
    letter-spacing: 0.25px;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    font-weight: 900;
    color: gray;
}
.header-container nav>ul>li:first-child>a{
  color: black;
}

.header-container .logo img {
  width: 14.5rem;
}

.header-container .search-bar input {
  width: 23rem;
  height: 2.3125rem;
  padding: 0.5rem 2.815rem;
  border-radius: 37px;
  border: none;
  background: #efefef;
  font-size: 1rem;
  border: 2px solid #efefef;
  letter-spacing: .2px;
}
.search-bar {
  position: relative;
}

.search-bar::before {
  content: "\f002";
  font-family: FontAwesome;
  cursor: pointer;
  position: absolute;
  top: 29%;
  left: 5%;
}

.camera{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10%;
}


.header-container .header-icons {
  display: flex;
  align-items: center;
}

.header-container .header-icons i {
  font-size: 16px;
  border-radius: 100%;
  padding: 1rem;
  background-color: transparent;
  transition: background-color .4s cubic-bezier(.645,.045,.355,1);
}
.header-container .header-icons>i:nth-of-type(1){
  display: none;
}
.header-container .header-icons>i:nth-of-type(6){
  display: none;
}

.header-container .header-icons i:hover{
background-color: #efefef;
}
.header-container .header-icons span {
  font-size: 16px;
  border-radius: 100%;
  padding: 1rem;
  background-color: transparent;
  transition: background-color .4s cubic-bezier(.645,.045,.355,1);
}
.header-container .header-icons span:hover{
background-color: #efefef;
}

.header-container .li-menu {
  padding: 0 1.5rem;
}

.header-container .li-menu ul {
  display: flex;
}

.header-container .li-menu li a {
  color: #000000;
  font-size: 0.76rem;
  font-weight: 600;
  padding: 0.75rem 0.8rem;
  white-space: nowrap;
  opacity: 0.9;
}

#scrollToEnd{
  display: none;
}
/* HEADER CSS */

/* styling side-navigation bar */
.side-nav {
  position: sticky;
  width: 15%;
  top:0%;
  min-height:100vh;
  float: left;
}
.wrapper {
  position: absolute;
  overflow: hidden scroll;
  padding: 0rem 1.5rem;
  padding-bottom: 7rem;
  width: 100%;
  height: 100%;
}
.heading {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1rem 2rem;
}
h1{
   font-family: proxima-nova, Arial, sans-serif;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -1.5px;
    line-height: 32.4px;
    text-transform: uppercase;
}
.women {
  display: flex;
}
.women h6 > span {
  padding: 0rem 1rem;
  opacity: 0.3;
}
.women h6 {
  font-size:0.6875rem;
  color: #4d4d4d;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 0.815rem;
  padding-bottom: 2rem;
}
.categories #no-of-items{
    padding: 0.75rem 0.8rem;
    font-size: 0.815rem;
    padding-bottom: 0rem;
}
.categories .column {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  transition: background-color .2s ease-out;
  cursor: pointer;
  background-color: transparent;
  padding: 0.75rem 0.8rem;
}
.categories .column:hover{
    background-color: #f8f8f8;
}
.categories .column>span{
  font-weight: bold;
}
.categories .column>i{
  font-weight: light;
  color: gray;
}
/* for sizes */
.categories #size #down {
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.categories #size.active #down {
  transform: rotate(180deg);
}
.size-menu {
  grid-template-columns: repeat(2, 1fr);
  gap: 0.815rem;
  padding: 0rem 1rem;
  display: none;
  font-size: 0.8125rem;
}
.size-menu.active {
  display: grid;
}

.size-menu .sizes {
  border-radius: 5px;
  text-align: center;
  width: 6rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e6e6e6;
  transition: border .2s ease-out;
}
.size-menu .sizes:hover{
  border: 1px solid black;
}

.menus {
  gap: 2rem;
  display: flex;
}
/* for sizes */

/* for colors */
.color-menu {
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  display: none;
}
.color-menu .colors>span:last-child{
    white-space: nowrap;
    font-size: 0.8125rem;
}

.color-menu.active {
  display: grid;
}
.color-menu .colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.color-menu .colors > span:first-child {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}

.categories .column>span{
    font-size: 0.9375rem;
}
.categories #color #down {
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.categories #color.active #down {
  transform: rotate(180deg);
}
/* for colors */

/* for checkbox */
.checkBox {
  margin: 0.815rem 0rem;
  display: none;
}
.checkBox.active {
  display: block;
}
.categories #length #down {
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.categories #length.active #down {
  transform: rotate(180deg);
}
.main {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;
  font-size: 0.8125rem;
  letter-spacing: .25px;
}

input[type="checkbox"] {
  visibility: hidden;
}

.blackmark {
  position: absolute;
  top: 0;
  left: 11px;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid silver;
  border-radius: 3px;
}

.blackmark::after {
  content: "";
  position: absolute;
  left: 7px;
  bottom: 5px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
}

.main input:checked ~ .blackmark::after {
  display: block;
}
.main input:checked ~ .blackmark {
  background-color: black;
}
/* //for checkbox */

/* for sleeve */
.checkBox2 {
  margin: 0.815rem 0rem;
  display: none;
}
.checkBox2.active {
  display: block;
}
.categories #sleeve #down {
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.categories #sleeve.active #down {
  transform: rotate(180deg);
}
/* for sleeve */

/* for fabric */
.checkBox3 {
  margin: 0.815rem 0rem;
  display: none;
}
.checkBox3.active {
  display: block;
}
.categories #fabric #down {
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.categories #fabric.active #down {
  transform: rotate(180deg);
}
/* for fabric */

/* for detail */
.checkBox4 {
  margin: 0.815rem 0rem;
  display: none;
}
.checkBox4.active {
  display: block;
}
.categories #detail #down {
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.categories #detail.active #down {
  transform: rotate(180deg);
}
/* for detail */

/* for price */
.checkBox5 {
  margin: 0.815rem 0rem;
  display: none;
}
.checkBox5.active {
  display: block;
}
.categories #price #down {
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.categories #price.active #down {
  transform: rotate(180deg);
}
/* for price */

/* //styling side-navigation bar */



/* main section css */
.main-container{
  /* display: flex; */
  width: 100%;
  position: relative;
}
/* /main section css */

/*  SECTION-ONE CSS */



.section-one {
  height: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  /* padding-left: 25px; */

}

.section-one .container {
 padding: 2rem;
  width: 100%;
}

.section-one .grid-row {
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.section-one .grid-row .column:nth-of-type(n) {
  margin-bottom: 0.5rem;
}

 .column .flex-row {
  justify-content: space-between;
  margin-top: 0.5rem;
}

 .column .content-flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

 .content-flex-column span:nth-of-type(1) {
  font-size: 11px;
  color: #272727;
}

 .content-flex-column span:nth-of-type(2) {
  font-size: 17px;
  color: #000000;
  font-weight: bold;
}

 .content-flex-column span:nth-of-type(3) {
  font-size: 11px;
  color: #9d2226;
}

 .image-container {
  position: relative;
}

 .cta-hover {
  position: absolute;
  bottom: 10%;
  left: 6%;
  display: none;
  transform: translate(0%,50%);
  width: 21rem;
}

 .column:hover .cta-hover {
  display: block;
}

 .select-size {
  background: #ffff;
  border-radius: 0.5rem;
  position: absolute;
  padding: 1rem 0.7rem;
  bottom: 0%;
  left: 3%;
  width: 94%;
  display: none; 
}

 .grid-row .image-container::after {
  content: "New!";
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffff;
  color: #000000;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  font-size: 11px;
  font-family: sans-serif;
}

 .select-size.active {
  display: block;
  bottom: 3%;
  left: 3%;
}

.select-size .flex-column {
  gap: 1rem;
  flex-direction: column;
  display: flex;
}

 .select-size .heading-flex {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

 .select-size .flex {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  flex-wrap: wrap;
  gap: 1rem;
  
}

 .select-size .flex .size {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.805);
}

.select-size .flex .size.active{
  border: 1px solid black;
}

.addcart{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 33px;
  height: 33px;
  background: #ffff;
  border-radius: 50%;
  padding: 0.5rem;
  display: none;
  

}


/*  /SECTION-ONE CSS */

/* SECTION-TWO CSS */
.section-two {
  padding:0rem 5rem;
  margin: 2rem 0;
  width: 100%;
  height: auto;
}
.section-two .cta-hover {
  position: absolute;
  bottom: 10%;
  left: 6%;
  display: none;
  transform: translate(0% 50%);
  width: 24rem;
}

.section-two .flex-column h1 {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
} 

 .section-two .flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
} 

/* /SECTION-TWO CSS */

.to-top {
  position: fixed;
  z-index: 1000;
  top: 88%;
  left: 97.5%;
  opacity: 0;
  height: 35px;
  width: 35px;
  pointer-events: none;
  transition: all 0.4s;
}

.top {
  background-color: rgb(53, 52, 52);
  opacity: 0.9;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-top.active {
  pointer-events: auto;
  opacity: 1;
}

.top > i {
  font-size: 0.9rem;
  color: white;
  font-family: FontAwesome;
}

/* //back to top button */






/* ,---------------FOOTER */
.footer{
  margin-top: 2rem;
  position: relative;
  background-color: #000000;
  color: aliceblue;
}
.footer h3{
  font-size: 12px;
  margin-bottom: 0.7rem ;
}
.footetr a{
  color: #727272;
  font-size: 13px;
}
.footer p{
  color: #727272;
  font-size: .7rem;
  margin: 16px 0;
}
.footer .flex-row{
  display: flex;
  justify-content: space-between;
}
.footer .f-container{
  margin-inline: auto;
max-width: 1560px;
padding: 2.5rem  3.75rem 0 3.75rem;
}
.footer ul {
  list-style: none;
}
.footer ul li a{
  text-decoration: none;
  color: #727272;
}
.footer .fleft{
  display: flex;
  min-height: 15.5rem;
}
.footer .appicons{
  display: flex;
  gap: 1rem;
}
.footer .applinks{
  width: 335px;
}
.footer .appicons a svg{
  color: #fff;
}
.footer .accordian .acc-gap {
  margin-top: 0;
  font-size: 13px;
display: flex; 
gap: 1rem;
flex-direction: column;
}
.footer .accordian{
  max-width: 480px;
  margin-right: 2rem;
  display: flex;
  gap: 3rem;
}
.footer .accordian ul li :hover{
  color: #fff;
}

.footer .icons ul{
display: flex;
padding: 0;
gap: 2rem;
}
.footer .icons ul li a{
  font-size: 1.3rem;
}
.footer .icons ul li a:hover{
  color: #fff;
}
.footer input{
  padding: 0 1rem;
  width: 26.625rem;
  height: 3.75rem;
  border-radius: 5px;
  border: none;
}
.footer .media{
  position: relative;
}
.footer .media .submitbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border: none;
  position: absolute;
  left: 83%;
  top: 27%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #e6e6e6;
}
.footer .media .submitbtn:hover{
  background-color:#d5d5d5 ;
}
.footer .copyright{
  font-size: 11px;
  border-top: .5px solid #727272;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}
.footer .copyright .flink{
  margin-left: 16px;
  font-size: .7rem;
}

/* ACCORDION */
.footer .accordion{
width: 100%;
  display: none;

}
.footer .accordion .contentBox{
position: relative;
margin-bottom: 2rem;
  width: 100%;
}
.footer .accordion .contentBox .label{
position: relative;
cursor: pointer;
}
.footer .accordion .contentBox .label::before{
  content: "+";
  font-size: 20px;
  position: absolute;
  top: 20%;
  right: 10px;
  transform: translateY(-50%);
}
.footer .accordion .contentBox.active .label::before{
  content: "-";
  top: 1%;
  font-size: 2rem;
}
.footer .accordion .contentBox .content{
  position: relative;
  padding: 10px;
  display: none;
  overflow: hidden;
  transition: 0.2s;
  overflow-y: auto;

}
.footer .accordion .contentBox.active .content{
  display: block;
  height: 100%;
  padding: 1rem;
}
.footer .accordion .contentBox .content ul li{
  margin-bottom: 1rem;
}
.footer .contentBox{
  width: 330px; 
}
.footer .contentBox ul{
  padding:0;
}
.footer hr{
border: none;
  background-color: #727272;
  height: .08px;
  margin-top: 1rem;
}
.footer .none {
  display: none;
}
/* --------------------------------- */
@media screen and (max-width:1340px){
  .footer .f-container{
  padding: 2.5rem  1.5rem 0 1.5rem;
  }
  .footer .accordian{
    gap: 2rem;
  }
}

@media screen and (max-width:1240px){
  .footer .media .submitbtn{
    border: none;
    position: absolute;
    left: 87%;
    top: 24%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #e6e6e6;
  }
  .footer .accordian .acc-gap {
padding: 0 0 0 1rem;
  }
  .footer .accordian{
    gap: 2rem;
  }
}
@media screen and (max-width:1140px){

  .footer .media .submitbtn{
    border: none;
    position: absolute;
    left: 83%;
    top: 26%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #e6e6e6;
  }
  .footer .applinks {
      display: none;
  }
  .footer .accordian .acc-gap {
      padding: 0  40px 0 0 ;
          }
}
@media screen and (max-width:989px){
  .footer .media .submitbtn{
    border: none;
    position: absolute;
    left: 63%;
    top: 27%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #e6e6e6;
  }
  .footer .fleft{
      width: 50%;
  }
  .footer .accordian {
      display: none;
  }
  .footer .accordion{
      width:90%;
          display:block;
      
      }
.footer input{
  width:341px ;
}
.footer .copyright .flink{
  display: none;
}
.footer .copyright{
  border:none;
  font-size: 11px;
}
}
@media screen and (max-width:952px){
  .footer .media .submitbtn{
    border: none;
    position: absolute;
    left: 65%;
    top: 24%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #e6e6e6;
  }
}
@media screen and (max-width:770px){
  .footer .media .submitbtn{
    border: none;
    position: absolute;
    left: 70%;
    top: 22%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #e6e6e6;
  }
  .footer{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .footer .flex-row{
      width: 400px;
     align-items: center;
     justify-content: center;
      flex-direction: column-reverse;
      gap: 2rem;
  }
  .footer .fright{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
      gap: 1rem;
  }
  .footer .fleft{
      width: 120%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .footer .fright .icons{
      display: flex;
      align-items:center;
      justify-content: center;
  }
  .footer .none {
      display: block;
  }
}
@media screen and (max-width:474px){
  .footer .media .submitbtn{
    border: none;
    position: absolute;
    left: 80%;
    top: 22%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #e6e6e6;
  }
  .footer{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .footer .flex-row{
      width: 300px;
     align-items: center;
     justify-content: center;
      flex-direction: column-reverse;
      gap: 2rem;
  }
  .footer .fright{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
  }
  .footer .fleft{
      width: 120%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .footer .fright .icons{
      display: flex;
      align-items:center;
      justify-content: center;
  }
  .footer input{
      width: 300px;
  }
}
@media screen and (max-width:390px){.footer 
  .footer{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .footer .flex-row{
      width: 250px;
     align-items: center;
     justify-content: center;
      flex-direction: column-reverse;
      gap: 2rem;
  }
  .footer .fright{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
  }
  .footer .fleft{
      width: 130%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .footer .fright .icons{
      display: flex;
      align-items:center;
      justify-content: center;
  }
 .footer input{
      width: 250px;
  }
}
/* ,---------------/FOOTER */


/* ,---------------FOOTER */
.footer{
  position: relative;
  background-color: #000000;
  color: aliceblue;
}
.footer h3{
  font-size: 12px;
  margin-bottom: 0.7rem ;
}
.footetr a{
  font-size: 13px;
}
.footer p{
  font-size: .7rem;
  margin: 16px 0;
}
.footer .flex-row{
  display: flex;
  justify-content: space-between;
}
.footer .f-container{
  margin-inline: auto;
max-width: 1560px;
padding: 2.5rem  3.75rem 0 3.75rem;
}
.footer ul {
  list-style: none;
}
.footer ul li a{
  text-decoration: none;
}
.footer .fleft{
  display: flex;
  min-height: 15.5rem;
}
.footer .appicons{
  display: flex;
  gap: 1rem;
}
.footer .applinks{
  width: 335px;
}
.footer .accordian .acc-gap {
  margin-top: 0;
  font-size: 13px;
display: flex; 
gap: 1rem;
flex-direction: column;
}
.footer .accordian{
  max-width: 480px;
  margin-right: 2rem;
  display: flex;
  gap: 3rem;
}

.footer .icons ul{
display: flex;
padding: 0;
gap: 2rem;
}
.footer .icons ul li a{
  font-size: 1.3rem;
}
.footer input{
  padding: 0 1rem;
  width: 26.625rem;
  height: 3.75rem;
  border-radius: 5px;
  border: none;
}
.footer .copyright{
  font-size: 11px;
  border-top: .5px solid gainsboro;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}
.footer .copyright .flink{
  margin-left: 16px;
  font-size: .7rem;
}

/* ACCORDION */
.footer .accordion{
width: 100%;
  display: none;

}
.footer .accordion .contentBox{
position: relative;
margin-bottom: 2rem;
  width: 100%;
}
.footer .accordion .contentBox .label{
position: relative;
cursor: pointer;
}
.footer .accordion .contentBox .label::before{
  content: "+";
  font-size: 20px;
  position: absolute;
  top: 20%;
  right: 10px;
  transform: translateY(-50%);
}
.footer .accordion .contentBox.active .label::before{
  content: "-";
  top: 1%;
  font-size: 2rem;
}
.footer .accordion .contentBox .content{
  position: relative;
  padding: 10px;
  display: none;
  overflow: hidden;
  transition: 0.2s;
  overflow-y: auto;

}
.footer .accordion .contentBox.active .content{
  display: block;
  height: 100%;
  padding: 1rem;
}
.footer .accordion .contentBox .content ul li{
  margin-bottom: 1rem;
}
.footer .contentBox{
  width: 330px; 
}
.footer .contentBox ul{
  padding:0;
}
.footer hr{
border: none;
  background-color: gainsboro;
  height: .08px;
  margin-top: 1rem;
}
.footer .none {
  display: none;
}
/* --------------------------------- */
@media screen and (max-width:1340px){
  .footer .f-container{
  padding: 2.5rem  1.5rem 0 1.5rem;
  }
}

@media screen and (max-width:1240px){
  .footer .accordian .acc-gap {
padding: 0 0 0 1rem;
  }
}
@media screen and (max-width:1140px){
  .footer .applinks {
      display: none;
  }
  .footer .accordian .acc-gap {
      padding: 0  40px 0 0 ;
          }
}
@media screen and (max-width:989px){.footer 
  .fleft{
      width: 50%;
  }
  .footer .accordian {
      display: none;
  }
  .footer .accordion{
      width:90%;
          display:block;

      }
.footer input{
  width:341px ;
}
.footer .copyright .flink{
  display: none;
}
.footer .copyright{
  border:none;
  font-size: 11px;
}
}

@media screen and (max-width:770px){
  .footer{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .footer .flex-row{
      width: 400px;
     align-items: center;
     justify-content: center;
      flex-direction: column-reverse;
      gap: 2rem;
  }
  .footer .fright{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
      gap: 1rem;
  }
  .footer .fleft{
      width: 120%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .footer .fright .icons{
      display: flex;
      align-items:center;
      justify-content: center;
  }
  .footer .none {
      display: block;
  }
}
@media screen and (max-width:474px){
  .footer{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .footer .flex-row{
      width: 300px;
     align-items: center;
     justify-content: center;
      flex-direction: column-reverse;
      gap: 2rem;
  }
  .footer .fright{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
  }
  .footer .fleft{
      width: 120%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .footer .fright .icons{
      display: flex;
      align-items:center;
      justify-content: center;
  }
  .footer input{
      width: 300px;
  }
}
@media screen and (max-width:390px){.footer 
  .footer{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .footer .flex-row{
      width: 250px;
     align-items: center;
     justify-content: center;
      flex-direction: column-reverse;
      gap: 2rem;
  }
  .footer .fright{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
  }
  .footer .fleft{
      width: 130%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .footer .fright .icons{
      display: flex;
      align-items:center;
      justify-content: center;
  }
 .footer input{
      width: 250px;
  }
}
/* ,---------------/FOOTER */


/* Resoponsive side bar menus */
.sidenav{
  background-color: #fff;
  position: absolute;
  width: 100vw;
  top:8%;
  z-index: 9999;
  overflow: hidden;
  transition: all .2s ease-out;
   transform: translateX(-100%);
   display: none;
}
.sidenav.active{
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
}
.sidenav .sidebar .sidelink{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 51px;
  width: 100%;
  list-style: none;
  text-decoration: none;
  border-top: .5px solid #f1f1f1;
  border-bottom: .5px solid #f1f1f1;
}
.sidenav .sidebar .sidelink:hover{
  background-color: #f1f1f1;
}
.sidenav .sidebar .sidelink a , .con{
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.sidenav .sidebar .sidelink i{
  font-size: .8rem;
}
.toclick .right-nav{
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  top: 0;
  z-index: 9999999;
  transition: all .3s ease;
  transform: translateX(100%);
}
 .toclick.active .right-nav{
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 9999999;
  transform:none;
}
 .right-nav{
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  top: 0;
  z-index: 9999999;
  transition: all .3s ease;
  transform: translateX(100%);
}
.lil-bold{
  margin-right: 2rem;
}
.bold{
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 900;
}
.bold i{
  font-size: 1.5rem !important;
  font-weight: 900 !important;
}
.close {
  border: none;
  background-color: transparent;
}
/* Resoponsive side bar menus */

/* hamburger responsive  */
.nav-icon {
  width: 25px;
  height: 45px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-left: 1rem;
  display: none;
}
.nav-icon .bar {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #474747;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.nav-icon .bar:nth-child(1) {
  top: 14px;
  transform-origin: left center;
}

.nav-icon .bar:nth-child(2) {
  top:21px;
  transform-origin: left center;
}

.nav-icon .bar:nth-child(3) {
  top: 28px;
  transform-origin: left center;
}

.nav-icon.open .bar:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
  left: 0px;
}

.nav-icon.open .bar:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-icon.open .bar:nth-child(3) {
  transform: rotate(-45deg);
  top: 31px;
  left: 0px;
}
/* hamburger responsive  */